<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cms.CodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Cms.CodeGenerator.Properties.Settings>
            <setting name="dllPath" serializeAs="String">
                <value>C:\Users\Administrator\Documents\Visual Studio 2015\Projects\CMS\Cms.Common\bin\Debug\Cms.Common.dll</value>
            </setting>
            <setting name="ModelPath" serializeAs="String">
                <value>C:\Users\Administrator\Documents\Visual Studio 2015\Projects\CMS\Cms.Common\Models\</value>
            </setting>
            <setting name="BusinessPath" serializeAs="String">
                <value>C:\Users\Administrator\Documents\Visual Studio 2015\Projects\CMS\Cms.Business\Concrete\</value>
            </setting>
            <setting name="IBusinessPath" serializeAs="String">
                <value>C:\Users\Administrator\Documents\Visual Studio 2015\Projects\CMS\Cms.Business\Interface\</value>
            </setting>
            <setting name="MapperPath" serializeAs="String">
                <value>C:\Users\Administrator\Documents\Visual Studio 2015\Projects\CMS\Cms.UI\Infrastructure\Mapper\</value>
            </setting>
            <setting name="ViewmodelPath" serializeAs="String">
                <value>C:\Users\Administrator\Documents\Visual Studio 2015\Projects\CMS\Cms.UI\Infrastructure\ViewModels\</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Cms.CodeGenerator.Properties.Settings>
    </applicationSettings>
</configuration>